---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>My Astro Site</title>
  </head>
  <body>
    <h1>My Astro Site</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
      molestias fugiat aspernatur eos laborum velit, minus nostrum nam cum
      provident veritatis ipsum! Facere fugit reiciendis quasi. Laborum
      molestiae repellat expedita!
    </p>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe suscipit
      illo quos. Quaerat at voluptates eaque neque eius temporibus, dolor
      nesciunt voluptatum quae est dolore rem quidem mollitia ipsum impedit.
    </p>

    <section>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est fuga facilis
      officiis ratione, aliquam et vel, itaque voluptas, error autem pariatur.
      Odit sequi officiis labore tempora non, repellendus perspiciatis rerum?
    </section>
  </body>
</html>
