---
const platform = 'Github';
const username = 'y0ungdhill0n';
import Social from './Social.astro';
---

<footer>
  <p>
    <Social platform='Twitter' username='y0ungdhill0n510' />
    <Social platform='Github' username='y0ungdhill0n' />
    <Social platform='Youtube' username='' />
    <Social platform='Instagram' username='' />
  </p>
</footer>
